* {
  font-family: Arial, sans-serif;
}

header {
  background-color: black;
  border-bottom: 5px solid white;
  flex-wrap: wrap;
  justify-content: space-around;
}

a {
  margin: 20px;
  color: white;
  text-decoration: none;
  font-size: 10;
}

section {
  background-color: black;
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  max-width: 800px;
  margin-left: 35px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.container img {
  width: 110px;
  height: 55px;
}

h2 {
  margin-left: 0;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: white;
  align-self: flex-end;
}

.main-photo {
  width: 100%;
  height: auto;
  text-align: center;
  display: block;
}

р1 {
  margin-left: 55px;
  color: black;
  font-family: 'JetBrains Mono', monospace;
}

.border {
  border-bottom: 5px solid #D9D9D9;
}

h3 {
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
}

.convertibles {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-right: 25px;
  margin-left: 25px;
}

.photo-car {
  width: 455px;
  height: 304px;
}

.sedan {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-right: 25px;
  margin-left: 25px;
}

.suv {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-right: 25px;
  margin-left: 25px;
}

.cype {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-right: 25px;
  margin-left: 25px;
}

.minivan {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-right: 25px;
  margin-left: 25px;
}

.name-car {
  display: flex;
  justify-content: center;
  gap: 420px;
}

.name-car p {
  margin: 0;
  font-size: 25px;
}

.info-car {
  display: flex;
  justify-content: center;
  gap: 420px;
}

.info-car a {
  margin: 0;
  font-size: 15px;
  color: #2582D9;
  font-family: 'JetBrains Mono', monospace;
  margin-bottom: 25px;
}




.avto-in-stock-p {
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  margin-left: 20px;
}

h1 {
  font-family: Fiorina Title;
  margin-left: 20px;
  margin-bottom: 10px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}


.info {
  background-color: #2582d9;
  border-radius: 15px;
  color: white;
  font-family: "JetBrains Mono", Courier, monospace;
  font-size: 20px;
  margin: 20px;
  text-decoration: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.knopka {
  margin: 40px;
}


.imgfooter {
  width: 1000px;
  height: 500;
}

footer {
  height: 300px;
  background-color: black;
}

.footer {
  border-bottom: 3px solid gray;
}

.under-footer {
  text-decoration: none;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  color: gray;
  margin-top: 10px;
}

.logo-FB {
  width: 25px;
  height: auto;
  margin-left: 120px;
}

.logo-INS {
  width: 34px;
  height: auto;
  margin-left: 5px;
}

.logo-YT {
  width: 38px;
  height: auto;
  margin-left: 5px;
}